head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
  meta(charset="utf-8")
  meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")

  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  title Domus Group
  meta(name="description" content="Page description. No longer than 155 characters.")
  meta(name="keywords" content="")
  meta(name="robots" content="INDEX,FOLLOW")
  meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
  link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")
  script(src="/js/vendor/modernizr.js")
  //- include _socials.jade
  link(rel='stylesheet' type='text/css' href='css/styles.css')
  //[if IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]