/*--------------Header top--------------*/

.header-top{
  @include clearfix;
  padding: 15px 30px;
  background: #fff;
  &__logo{
    float: left;
    width: 115px;
    overflow: hidden;
    a{
      display: block;
    }
  }
  &__title{
    display: none;
  }
  &__menu{
    float: left;
    width: 650px;
  }
  &__phone{
    float: right;
    width: 175px;
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-size: 21px;
    line-height: 1.172;
    text-align: right;
    a{
      display: block;
      font-size: 14px;
      color: #ed573e;
      &:hover{
        color: #dd4a31;
      }
    }
  }
}

.navigation{
  text-align: center;
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
    // padding-left: 30px;
    // position: relative;
    &:first-child{
      padding-left: 0;
    }
    &--services{
      &:hover .header-submenu{
        // display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
      }
    }
    &--search{
      padding-left: 20px;
    }
  }
  &__link{
    padding: 10px 15px;
    color: #2e2e2e;
    text-decoration: none;
    font-family: 'proxima_nova_ltlight', sans-serif;
    font-size: 14px;
    display: block;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      transition: all 0.5s ease-in-out;
    }
    &:hover:after{
      content: "";
      height: 2px;
      background: #ed573e;
      display: block;
      position: absolute;
      bottom: 0;
      left: -35px;
      right: 66px;
      transform: translate(50px,0);
    }
    &--search{
      font-size: 0;
      width: 13px;
      height: 13px;
      padding: 10px;
      &:hover:after{
        display: none;
      }
    }
  }
}

/* -------- Submenu --------- */

.header-submenu{
  // display: none;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  background: rgba(241, 241, 242, 0.9);
  position: absolute;
  left: -5px;
  top: 55px;
  z-index: 10;
  &:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    top: -28px;
  }
  &__link{
    display: block;
    text-decoration: none;
    line-height: 2.86;
    font-size: 14px;
    padding: 0 20px;
    color: #2e2e2e;
    font-family: 'proxima_nova_ltlight', sans-serif;
    &:hover{
      background: rgba(238, 102, 80, 0.9);
      color: #fff;
    }
    &--kitchen{
      &:hover:before{
      border-color: transparent transparent rgba(238, 102, 80, 0.9) transparent;
    }
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6.5px 10px 6.5px;
        border-color: transparent transparent rgba(241, 241, 242, 0.9) transparent;
        position: absolute;
        top: -9px;
        left: 33px;
        z-index: -10;
      }
    }
  }
}



// .header-submenu:hover:before{
//   border-color: transparent transparent rgba(238, 102, 80, 0.9) transparent;
// }

/*-------Header slider--------*/

.header-slider{
  position: relative;
  &__img{
    width: 1000px;
    height: 400px;
    vertical-align: middle;
  }
  &__desc{
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  &__title{
    margin: 0;
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
  }
  &__title-link{
    text-decoration: none;
    color: #fff;
  }
  &__name{
    margin: 10px 0;
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-size: 21px;
    line-height: 1.71;
    color: #fff;
  }
  &__link{
    display: block;
  }
  &__switch{
      position: absolute;
      right: 30px;
      bottom: 30px;
  }
  &__arrow-left{
    display: inline-block;
    background: url("../img/arrow.svg") 0 0 no-repeat;
    width: 36px;
    height: 30px;
    &:hover{
      background: url("../img/arrow_hover1.svg") 0 0 no-repeat;
    }
  }
  &__arrow-right{
    display: inline-block;
    background: url("../img/arrow1.svg") 0 0 no-repeat;
    transform: scaleY(-1);
    width: 36px;
    height: 30px;
    &:hover{
      background: url("../img/arrow_hover.svg") 0 0 no-repeat;
    }
  }
}

/*-------- Slider hovers ---------*/
// .header-slider__title-link:hover{
//   color: #ed573e;
// }

// .header-slider__title-link:hover ~ .header-slider__more .header-slider__svg{
//       fill: #ed573e;
// }

// .header-slider__link{
//     &:hover .header-slider__svg{
//       fill: #ed573e;
//     }
// }

// .header-slider__more:hover:first-child{
//   color: #ccc;
// }

// .header-slider__title:hover .header-slider__title-link{
//   color: #ccc;
// }

// .header-slider__title:hover .header-slider__svg{
//   fill: #ccc;
// }