section.call
  .call__wrapper
    form(action="POST")
      .call__cross
      h2.call__title Заказать звонок
      input.call__input(type="text" placeholder="Ваше имя")
      input.call__input(type="text" placeholder="Ваш телефон")
      button.call__button(type="submit") Перезвоните мне
