main.main
  section.main-welcome
    h2.main-welcome__title Добро пожаловать
    p.main-welcome__few DomusGroup – это команда профессионалов, которая поможет вам пройти важный этап в вашей жизни под названием ремонт. Почему вы выберете нас? Мы назовем вам наши принципы работы, а вы уже не захотите искать кого-то другого.
    //a(href="#").main-welcome__open Читать далее
    p.main-welcome__much DomusGroup – это команда профессионалов, которая поможет вам пройти важный этап в вашей жизни под названием ремонт. Почему вы выберете нас? Мы назовем вам наши принципы работы, а вы уже не захотите искать кого-то другого. DomusGroup – это команда профессионалов, которая поможет вам пройти важный этап в вашей жизни под названием ремонт. Почему вы выберете нас? Мы назовем вам наши принципы работы, а вы уже не захотите искать кого-то другого. DomusGroup – это команда профессионалов, которая поможет вам пройти важный этап в вашей жизни под названием ремонт. Почему вы выберете нас? Мы назовем вам наши принципы работы, а вы уже не захотите искать кого-то другого. DomusGroup – это команда профессионалов, которая поможет вам пройти важный этап в вашей жизни под названием ремонт. Почему вы выберете нас? Мы назовем вам наши принципы работы, а вы уже не захотите искать кого-то другого.
    //a(href="#").main-welcome__close Свернуть

  section.main-kitchen
    h2.main-kitchen__title
      a(href="#").main-kitchen__title-link Кухни
    p.main-kitchen__desc Для многих людей кухня является главным местом в квартире. Мы предлагаем ремонт за 3 недели с момента встречи.
    .main-kitchen__more
      a(href="#").main-kitchen__more-link
        svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
          path.main-kitchen__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#2E2E2E" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")

  section.main-repairs
    h2.main-repairs__title
      a(href="#").main-repairs__title-link Ремонт квартир
    p.main-repairs__desc Нашей особенностью является то, что  мы делаем ремонт целиком. Вам не придется доплачивать другой компании, чтобы доделать что-то после ремонта.
    .main-repairs__more
      a(href="#").main-repairs__more-link
        svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
          path.main-kitchen__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#2E2E2E" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")

  section.main-roof
    h2.main-roof__title
      a(href="#").main-roof__title-link Натяжные потолки
    p.main-roof__desc Готовый потолок за 3 дня, от замера помещения до монтажа потолка.
    .main-roof__more
      a(href="#").main-roof__more-link
        svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
          path.main-kitchen__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#2E2E2E" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")

  section.main-wardrobe
    h2.main-wardrobe__title
      a(href="#").main-wardrobe__title-link Гардеробные системы
    p.main-wardrobe__desc Практичность и универсальность в сфере хранения одежды. Порядок за 48 часов.
    .main-wardrobe__more
      a(href="#").main-wardrobe__more-link
        svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
          path.main-kitchen__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#2E2E2E" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")

  section.main-work
    h2.main-work__title Наши работы
    .main-work__kitchen
      a(href="#").main-work__kitchen-link
        img(src="img/kitchen.png", alt="").main-work__kitchen-img
    .main-work__repairs
      a(href="#").main-work__repairs-link
        img(src="img/repair.png", alt="").main-work__repairs-img
    .main-work__roof
      a(href="#").main-work__roof-link
        img(src="img/roof.png", alt="").main-work__roof-img
    .main-work__look
      a(href="#").main-work__look-link Посмотреть все

  section.main-news
    h2.main-news__title Новости
      a(href="#").main-news__all-news Все новости
    .main-news__basis
      img(src="img/img-basis.png", alt="Basis")
      a(href="#") Кухни
      span &bull; 25 января 2015
      h3
        a(href="#") Ремонт кухни в ЖК «Виктория» в скандинавском стиле
      p Яркие краски, как люди – могут мирно соседствовать, дружить и даже спорить друг с другом. Дизайнер Ирина Леготкина выстроила хорошие отношения между пятью цветами под одной крышей загородного дома.
    .main-news__secondary
      .main-news__secondary-top
        img(src="img/img-small-top.png", alt="Small")
        a(href="#") Ремонт
        span &bull; 17 января 2015
        p Ремонт трехкомнатной квартиры в современном стиле  в ЖК «Балтийская жемчужина»
      .main-news__secondary-down
        img(src="img/img-small-down.png", alt="Small")
        a(href="#") Натяжные потолки
        span &bull; 12 декабря 2015
        p Глянцевый натяжной потолок за 3 дня










