main.kitchen
  section.kitchen-promo
    .kitchen-promo__left
      .kitchen-promo__breadcrumbs
        a(href="/") Главная >
        a(href="javascript:;") Услуги >
        a(href="javascript:;") Кухни
      h1.kitchen-promo__title Кухня
        span за 3 недели
    .kitchen-promo__right
      .kitchen-promo__form-block
        form(action="POST").kitchen-promo__form
          h2.kitchen-promo__form-title Рассчитайте стоимость кухни
          p.kitchen-promo__form-descr Оставте номер телефона, мы вам перезвоним и ответим на вопросы.
          input(type="text" placeholder="Ваше имя").kitchen-promo__input
          input(type="text" placeholder="Ваш телефон").kitchen-promo__input
          button(type="submit").kitchen-promo__button Перезвоните мне




  section.kitchen-steps
      h3.kitchen-steps__title Этапы работы
      p.kitchen-steps__descr Создание проекта кухни – это довольно сложный процесс, несмотря на кажущуюся легкость. При проектировании кухни нам необходимо учесть бюджет кухни, в который вы хотите уложиться, метраж будущего помещения под кухню, стиль, наиболее близкий именно вам. Создание проекта кухни – это довольно сложный процесс, несмотря на кажущуюся легкость. При проектировании кухни нам необходимо учесть бюджет кухни, в который вы хотите уложиться, метраж будущего помещения под кухню, стиль, наиболее близкий именно вам. Создание проекта кухни – это довольно сложный процесс, несмотря на кажущуюся легкость. При проектировании кухни нам необходимо учесть бюджет кухни, в который вы хотите уложиться, метраж будущего помещения под кухню, стиль, наиболее близкий именно вам.







  section.kitchen-slider
    -
    //   var kitchen_tabs = {
    //     "Фасады": [ [
    //                   ["img/kitchen/facade/olive.png"],
    //                   ["img/kitchen/facade/briz-white.png"],
    //                   ["img/kitchen/facade/bamboo.png"],
    //                   ["img/kitchen/facade/basalt.png"],
    //                   ["img/kitchen/facade/vienna.png"],
    //                   ["img/kitchen/facade/rustic.png"],
    //                   ["img/kitchen/facade/lane.png"]],
    //                 [["Глянец олива"], ["Бриз белый"], ["Бамбук"], ["Глянец базальт"], ["Дуб венский"], ["Дуб рустик"], ["Лайн"]]
    //   ],
    //     "Столешницы": [ [
    //                       ["img/kitchen/facade/olive.png"],
    //                       ["img/kitchen/facade/briz-white.png"],
    //                       ["img/kitchen/facade/bamboo.png"],
    //                       ["img/kitchen/facade/basalt.png"],
    //                       ["img/kitchen/facade/vienna.png"],
    //                       ["img/kitchen/facade/rustic.png"],
    //                       ["img/kitchen/facade/lane.png"]],
    //                     [["Глянец олива"], ["Бриз белый"], ["Бамбук"], ["Глянец базальт"], ["Дуб венский"], ["Дуб рустик"], ["Лайн"]]

    //   ],
    //     "Мойки": "#",
    //     "Смесители": "#"}
    // -
    //   var kitchen_slides = [[["Глянец олива"], ["Бриз белый"], ["Бамбук"], ["Глянец базальт"], ["Дуб венский"], ["Дуб рустик"], ["Лайн"]],
    //                         [["Глянец олива"], ["Бриз белый"], ["Бамбук"], ["Глянец базальт"], ["Дуб венский"], ["Дуб рустик"], ["Лайн"]]
    //   ]


    .kitchen-slider__menu
      ul.kitchen-slider__list
        li.kitchen-slider__item
          a(href="javascript:;").kitchen-slider__link Фасады

        li.kitchen-slider__item
          a(href="javascript:;").kitchen-slider__link Столешницы

        li.kitchen-slider__item
          a(href="javascript:;").kitchen-slider__link Мойки

        li.kitchen-slider__item
          a(href="javascript:;").kitchen-slider__link Смесители

        li.kitchen-slider__item
          a(href="javascript:;").kitchen-slider__download Скачать полный каталог


    ul.kitchen-slider-submenu__list

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/olive.png", alt="Глянец олива").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Глянец олива

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/briz-white.png", alt="Бриз белый").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Бриз белый

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/bamboo.png", alt="Бамбук").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Бамбук

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/basalt.png", alt="Глянец базальт").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Глянец базальт

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/vienna.png", alt="Дуб венский").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Дуб венский

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/rustic.png", alt="Дуб рустик").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Дуб рустик

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/facade/lane.png", alt="Лайн").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Лайн


    ul.kitchen-slider-submenu__list

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/olive.png", alt="Глянец олива").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Глянец олива

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/briz-white.png", alt="Бриз белый").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Бриз белый

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/bamboo.png", alt="Бамбук").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Бамбук

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/basalt.png", alt="Глянец базальт").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Глянец базальт

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/vienna.png", alt="Дуб венский").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Дуб венский

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/rustic.png", alt="Дуб рустик").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Дуб рустик

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tabletop/lane.png", alt="Лайн").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Лайн


    ul.kitchen-slider-submenu__list

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash1.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash2.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28
      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash3.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash4.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash1.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash2.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/washing/wash3.png", alt="Мойка Franke ETJ-28").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Мойка Franke ETJ-28


    ul.kitchen-slider-submenu__list

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap1.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Ravak Neo для умывальника NO 012.00

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap2.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Ravak Neo для умывальника NO 012.00

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap3.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Ravak Neo для умывальника NO 012.00

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap4.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Lemark Comfort LM3061C

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap1.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Lemark Comfort LM3061C

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap2.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Lemark Comfort LM3061C

      li.kitchen-slider-submenu__item
        a(href="javascript:;").kitchen-slider-submenu__link
          img(src="img/kitchen/tap/tap3.png", alt="").kitchen-slider-submenu__img
          p.kitchen-slider-submenu__name Lemark Comfort LM3061C



  section.kitchen-work
    -
      var kitchen_work = {"Первая работа": ["img/kitchen/first-work.png"],
                          "Вторая работа": ["img/kitchen/second-work.png"],
                          "Третья работа": ["img/kitchen/first-work.png"],
                          "Четвертая работа": ["img/kitchen/second-work.png"],
                          "Пятая работа": ["img/kitchen/first-work.png"],
                          "Шестая работа": ["img/kitchen/second-work.png"],
                          "Седьмая работа": ["img/kitchen/first-work.png"],
                          "Восьмая работа": ["img/kitchen/second-work.png"],
                          "Девятая работа": ["img/kitchen/first-work.png"]
                          }

    h2.kitchen-work__title Наши работы
    each value, key in kitchen_work
      .kitchen-work__block
        a(href="javascript:;").kitchen-work__link
          img(src="#{value[0]}", alt="#{key}")
    .kitchen-work__look
      a(href="javascript:;").kitchen-work__look-link Посмотреть все

  section.kitchen-examples
    h2.kitchen-examples__title Примеры проектов визуализации и реализации
    p.kitchen-examples__descr Примеры использования визуализации и реализованные проекты.
      span.kitchen-examples__span Левое изображение - 3d, правое - фотография реализованного объекта.
    .kitchen-examples__slider
      .kitchen-examples__slider-block
        .kitchen-examples__3d
          img(src="img/kitchen/3d.png", alt="3D")
          span.kitchen-examples__3d-span Проект
          .kitchen-examples__overview
            ul.kitchen-examples__list
              li.kitchen-examples__item Место:
                span Санкт-Петербург, ЖК «Мечта»
              li.kitchen-examples__item Метраж:
                span 14 кв.м
              li.kitchen-examples__item Стиль:
                span скандинавский
              li.kitchen-examples__item Особенности:
                span островная кухня по индивидуальному проекту
            ul.kitchen-examples__list
              li.kitchen-examples__item Столешница:
                span бамбук
              li.kitchen-examples__item Фасад:
                span бамбук
              li.kitchen-examples__item Мойка:
                span Franke ETJ-28
              li.kitchen-examples__item Смеситель:
                span Lemark Comfort LM3061C
        .kitchen-examples__project
          img(src="img/kitchen/result.png", alt="Результат")
          span.kitchen-examples__project-span Результат
          .kitchen-examples__profect-descr
            p Островная кухня по индивидуальному проекту. Процесс создания кухни мечты очень трудный! Особенно если есть нестандартные углы или шахты, как в данном случае! Но мы справились и с такой задачей!
            a(href="javascript:;") Подробнее о проекте





  section.kitchen-consultation
    form(action="POST").kitchen-consultation__form
    .kitchen-consultation__left
      h2.kitchen-consultation__title Получите бесплатную
        span консультацию
    .kitchen-consultation__right
      input(type="text" placeholder="Ваше имя").kitchen-consultation__input
      input(type="text" placeholder="Ваш телефон").kitchen-consultation__input
      button(type="submit").kitchen-consultation__button Перезвоните мне




  section.kitchen-reviews
    h2.kitchen-reviews__title Отзывы
      a(href="javacript:;").kitchen-reviews__title-link Все отзывы
    .kitchen-reviews__left
      .kitchen-reviews__img-block
        img(src="img/kitchen/photo-one.png", alt="Фото").kitchen-reviews__img
        p.kitchen-reviews__name Елена
      .kitchen-reviews__reviews-block
        p Это не кухня - это мечта. Мне хочется готовить завтраки, обеды и ужины для всего мира, лишь бы находиться в этом мире выдвижных ящиков и столовых приборов
          a(href="javacript:;").kitchen-reviews__reviews-link читать далее
    .kitchen-reviews__right
      .kitchen-reviews__img-block
        img(src="img/kitchen/photo-two.png", alt="Фото").kitchen-reviews__img
        p.kitchen-reviews__name Екатерина
      .kitchen-reviews__reviews-block
        p Сначала я думала, что кухня за 3 недели - это фантастика, но фантастика - это то, что я получила в результате! Мне хочется звать всех  в гости,
          a(href="javacript:;").kitchen-reviews__reviews-link читать далее






  section.kitchen-useful
    h2.kitchen-useful__title Полезное
      a(href="javascript:;").kitchen-useful__title-link Все новости
    .kitchen-useful__news
      .kitchen-useful__secondary-top
        img(src="img/img-small-top.png", alt="Small")
        a(href="javascript:;") Ремонт
        span &bull; 17 января 2015
        p
          a(href="javascript:;") Ремонт трехкомнатной квартиры в современном стиле  в ЖК «Балтийская жемчужина»
      .kitchen-useful__secondary-down
        img(src="img/img-small-down.png", alt="Small")
        a(href="javascript:;") Натяжные потолки
        span &bull; 12 декабря 2015
        p
          a(href="javascript:;") Глянцевый натяжной потолок за 3 дня
      .kitchen-useful__secondary-top
        img(src="img/img-small-top.png", alt="Small")
        a(href="javascript:;") Ремонт
        span &bull; 17 января 2015
        p
          a(href="javascript:;") Ремонт трехкомнатной квартиры в современном стиле  в ЖК «Балтийская жемчужина»


