section.owl-carousel
  section.header-slider.owl-item
    img(src="img/slider-img.png", alt="Furniture").header-slider__img
    .header-slider__desc
      h2.header-slider__title
        a(href="#").header-slider__title-link Ремонт кухни
      p.header-slider__name ЖК «Балтийская жемчужина»
      .header-slider__more
        a(href="#").header-slider__link
          svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
            path.header-slider__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")
  section.header-slider.owl-item
    img(src="img/slider-img.png", alt="Furniture").header-slider__img
    .header-slider__desc
      h2.header-slider__title
        a(href="#").header-slider__title-link Ремонт кухни
      p.header-slider__name ЖК «Балтийская жемчужина»
      .header-slider__more
        a(href="#").header-slider__link
          svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
            path.header-slider__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")
  section.header-slider.owl-item
    img(src="img/slider-img.png", alt="Furniture").header-slider__img
    .header-slider__desc
      h2.header-slider__title
        a(href="#").header-slider__title-link Ремонт кухни
      p.header-slider__name ЖК «Балтийская жемчужина»
      .header-slider__more
        a(href="#").header-slider__link
          svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
            path.header-slider__svg.svg(fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M15 0C6.716 0 0 6.716 0 15c0 8.285 6.716 15 15 15s15-6.715 15-15c0-8.284-6.716-15-15-15zm1.027 22.013l-1.146-1.158 4.896-4.943H6.941v-1.979h12.928l-4.773-4.82 1.115-1.127 6.847 6.924-7.031 7.103z")
  //- .header-slider__switch.owl-controls
  //-   .owl-nav
  //-     .owl-prev
  //-       a(href="#").header-slider__arrow-left
  //-     .owl-next
  //-       a(href="#").header-slider__arrow-right